header {
    height: 100%;
    float: left;
    padding: 30px;
    border-bottom: 3px solid;
    border-bottom-color: red; 
}
header h1 {
    text-align: center
}

#mok{
    font-size: 20px;
    padding: 10px;
    border-bottom: 1px solid red;
     border-top: 3px solid red;
}
nav {
    float: left;
    border-left: 3px solid red;
    border-right: 3px solid red;
    width: 300px;
    height: 500px;
}

nav ul{
    border-bottom: 1px solid red;
    list-style: none;
}
nav a{
    border-bottom: 1px solid red;
    text-decoration: none; 
    color: #333333;
}
article {
    margin: 50px;
    float: left;
}


<!--*index.html*-->
#content{}
.index_profile dl dd span{
    float: left;
    margin-right: 9px;
    margin-bottom: 2px;
    line-height: 18px;
    color: #777;
}
